<!--<div class="container-fluid ">-->

<!--<div class="row">-->

<!--<div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">-->

<!--<div class="list-group panel">-->

<!--<a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar"-->
<!--aria-expanded="false"><i class="fa fa-user fa-fw"></i> <span class="hidden-sm-down">Users</span> </a>-->

<!--<div class="collapse" id="menu1">-->

<!--<a href="/add/user" class="list-group-item" data-parent="#menu1">Add Users</a>-->
<!--<a href="#" class="list-group-item" data-parent="#menu1">View Users</a>-->
<!--<a href="#" class="list-group-item" data-parent="#menu1">View Users Per Module</a>-->
<!--<a href="#" class="list-group-item" data-parent="#menu1">View Users Per Course</a>-->

<!--</div>-->

<!--<a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar"-->
<!--aria-expanded="false"><i class="fa fa-book fa-fw"></i> <span class="hidden-sm-down">Courses</span></a>-->

<!--<div class="collapse" id="menu3">-->

<!--<a href="#" class="list-group-item" data-parent="#menu3">Add Course</a>-->
<!--<a href="#" class="list-group-item" data-parent="#menu3">View Courses</a>-->
<!--<a href="#" class="list-group-item" data-parent="#menu3">View Courses Per Module</a>-->

<!--</div>-->

<!--<a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar"-->
<!--aria-expanded="false"><i class="fa fa-book fa-fw"></i> <span class="hidden-sm-down">Modules</span></a>-->

<!--<div class="collapse" id="menu2">-->

<!--<a href="#" class="list-group-item" data-parent="#menu1">Add Module</a>-->
<!--<a href="#" class="list-group-item" data-parent="#menu1">View Module</a>-->
<!--<a href="#" class="list-group-item" data-parent="#menu1">Archive Module</a>-->

<!--</div>-->

<!--</div>-->

<!--</div>-->

<!--<a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>-->

<!--</div>-->

<!--</div>-->

<!--<div class="wrapper">-->
  <!--&lt;!&ndash; Sidebar Holder &ndash;&gt;-->
  <!--<nav id="sidebar">-->
    <!--<div id="dismiss">-->
      <!--<i class="glyphicon glyphicon-arrow-left"></i>-->
    <!--</div>-->

    <!--<div class="sidebar-header">-->
      <!--<h3>Bootstrap Sidebar</h3>-->
    <!--</div>-->

    <!--<ul class="list-unstyled components">-->
      <!--<p>Dummy Heading</p>-->
      <!--<li class="active">-->
        <!--<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>-->
        <!--<ul class="collapse list-unstyled" id="homeSubmenu">-->
          <!--<li><a href="#">Home 1</a></li>-->
          <!--<li><a href="#">Home 2</a></li>-->
          <!--<li><a href="#">Home 3</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">About</a>-->
        <!--<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>-->
        <!--<ul class="collapse list-unstyled" id="pageSubmenu">-->
          <!--<li><a href="#">Page 1</a></li>-->
          <!--<li><a href="#">Page 2</a></li>-->
          <!--<li><a href="#">Page 3</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Portfolio</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Contact</a>-->
      <!--</li>-->
    <!--</ul>-->

    <!--<ul class="list-unstyled CTAs">-->
      <!--<li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>-->
      <!--<li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>-->
    <!--</ul>-->
  <!--</nav>-->

  <!--&lt;!&ndash; Page Content Holder &ndash;&gt;-->
  <!--<div id="content">-->

    <!--<nav class="navbar navbar-default">-->
      <!--<div class="container-fluid">-->

        <!--<div class="navbar-header">-->
          <!--<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">-->
            <!--<i class="glyphicon glyphicon-align-left"></i>-->
            <!--<span>Open Sidebar</span>-->
          <!--</button>-->
        <!--</div>-->

        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
          <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#">Page</a></li>-->
            <!--<li><a href="#">Page</a></li>-->
            <!--<li><a href="#">Page</a></li>-->
            <!--<li><a href="#">Page</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</nav>-->

    <!--<h2>Collapsible Sidebar Using Bootstrap 3</h2>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

    <!--<div class="line"></div>-->

    <!--<h2>Lorem Ipsum Dolor</h2>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

    <!--<div class="line"></div>-->

    <!--<h2>Lorem Ipsum Dolor</h2>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

    <!--<div class="line"></div>-->

    <!--<h3>Lorem Ipsum Dolor</h3>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
  <!--</div>-->
<!--</div>-->



<!--<div class="overlay"></div>-->

<div class="container-fluid">
  <div class="row d-flex d-md-block flex-nowrap wrapper">
    <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
      <div class="list-group border-0 card text-center text-md-left">
        <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">Item 1</span> </a>
        <div class="collapse" id="menu1">
          <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a>
          <div class="collapse" id="menu1sub1">
            <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 1 a</a>
            <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 2 b</a>
            <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 3 c </a>
            <div class="collapse" id="menu1sub1sub1">
              <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.1</a>
              <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.2</a>
            </div>
            <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 4 d</a>
            <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 5 e </a>
            <div class="collapse" id="menu1sub1sub2">
              <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.1</a>
              <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.2</a>
            </div>
          </div>
          <a href="#" class="list-group-item" data-parent="#menu1">Subitem 2</a>
          <a href="#" class="list-group-item" data-parent="#menu1">Subitem 3</a>
        </div>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="d-none d-md-inline">Item 2</span></a>
        <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="d-none d-md-inline">Item 3 </span></a>
        <div class="collapse" id="menu3">
          <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
          <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
          <div class="collapse" id="menu3sub2">
            <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
            <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
            <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
          </div>
          <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
        </div>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="d-none d-md-inline">Item 4</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-list"></i> <span class="d-none d-md-inline">Item 5</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-clock-o"></i> <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-th"></i> <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-gear"></i> <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-calendar"></i> <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-envelope"></i> <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-bar-chart-o"></i> <span class="d-none d-md-inline">Link</span></a>
        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-star"></i> <span class="d-none d-md-inline">Link</span></a>
      </div>
    </div>
    <main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
      <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-2x py-2 p-1"></i></a>
      <div class="page-header">
        <h2>Bootstrap 4 Sidebar Menu</h2>
      </div>
      <p class="lead">A responsive, multi-level vertical accordion.</p>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <button role="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo" aria-expanded="true">
            horizontal collapsible
          </button>
          <div id="demo" class="width collapse show" aria-expanded="true">
            <div class="list-group" style="width: 400px;">
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <button role="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo2" aria-expanded="true">
            vertical collapsible
          </button>
          <div id="demo2" class="height collapse show" aria-expanded="true">
            <div>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
