<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div id="dismiss">
      <i class="glyphicon glyphicon-arrow-left"></i>
    </div>

    <div class="sidebar-header">
      <h3>My Project</h3>
    </div>

    <ul class="list-unstyled components">

      <p>Welcome Admin</p>

      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Users</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><a href="#">View all Users</a></li>
          <li><a href="#">View all Users per Module</a></li>
          <li><a href="#">View all Users per Course</a></li>
          <li><a href="#">Add a User</a></li>
          <li><a href="#">Delete a User</a></li>
        </ul>
      </li>

      <li class="active">
        <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false">Modules</a>
        <ul class="collapse list-unstyled" id="homeSubmenu2">
          <li><a href="#">View all Modules</a></li>
          <li><a href="#">View all Modules per Course</a></li>
          <li><a href="#">Add a Module</a></li>
          <li><a href="#">Delete a Module</a></li>
        </ul>
      </li>

      <li class="active">
        <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false">Courses</a>
        <ul class="collapse list-unstyled" id="homeSubmenu3">
          <li><a href="#">View all Courses </a></li>
          <li><a href="#">Add a Course</a></li>
          <li><a href="#">Delete a Course</a></li>
        </ul>
      </li>

      <li class="active">
        <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false">Organisations</a>
        <ul class="collapse list-unstyled" id="homeSubmenu4">
          <li><a href="#">Edit the Organisation</a></li>
          <li><a href="#">Archive the organisation</a></li>

        </ul>
      </li>

      <li> <a href="#"></a></li>
      <li><a href="#">Contact</a></li>

    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">

        <div class="navbar-header">

            <i id="sidebarCollapse" class="fa fa-bars fa-3x"></i>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav"></ul>

        </div>

    </nav>

  </div>

</div>


<div class="overlay"></div>


