





  <h1>User form</h1>
  <form #form="ngForm" (ngSubmit)="addUser(form)" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" id="password">
    </div>

    <button type="submit" class="btn btn-success">add user</button>

  </form>
