<div class="sidebar-user">

  <div class="container-fluid">

    <div class="row d-flex d-md-block flex-nowrap wrapper">

      <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">

        <div class="list-group border-0 card text-center text-md-left">

          <a class="list-group-item d-inline-block collapsed empty" data-toggle="collapse" data-parent="#sidebar"></a>

          <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-users">
          </i> <span class="d-none d-md-inline">Users</span> </a>

          <div class="collapse" id="menu1">
            <a routerLink="/view/user" class="list-group-item" data-parent="#menu1">View All Users</a>
            <a routerLink="/view/userCourse" class="list-group-item" data-parent="#menu1">View Users per Course</a>
            <a routerLink="/view/userModule" class="list-group-item" data-parent="#menu1">View Users per Module</a>
            <a routerLink="/add/user" class="list-group-item" data-parent="#menu1">Add User</a>
            <a routerLink="/edit/user" class="list-group-item" data-parent="#menu1">Edit User</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Delete User</a>
          </div>

          <a href="#menu2" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book">
          </i> <span class="d-none d-md-inline">Courses</span> </a>

          <div class="collapse" id="menu2">
            <a routerLink="/view/course" class="list-group-item" data-parent="#menu1">View All Courses</a>
            <a routerLink="/add/course" class="list-group-item" data-parent="#menu1">Add a Course</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Edit a Course</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Delete Course</a>
          </div>

          <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book">
          </i> <span class="d-none d-md-inline">Modules</span> </a>

          <div class="collapse" id="menu3">
            <a routerLink="/view/module" class="list-group-item" data-parent="#menu1">View All Modules</a>
            <a href="#" class="list-group-item" data-parent="#menu1">View Modules per Course</a>
            <a routerLink="/add/module" class="list-group-item" data-parent="#menu1">Add a Module</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Edit a Module</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Delete a Module</a>
          </div>

          <a href="#menu4" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-sitemap">
          </i> <span class="d-none d-md-inline">Organisations</span> </a>
          <div class="collapse" id="menu4">
            <a routerLink="/view/organisation" class="list-group-item" data-parent="#menu1">View All Organisations</a>
            <a routerLink="/add/organisation" class="list-group-item" data-parent="#menu1">Add Organisation</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Edit Organisation</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Archive Organisation</a>
          </div>

        </div>

      </div>

      <app-navbar-admin></app-navbar-admin>

    </div>

  </div>

</div>
