<app-sidebar-admin></app-sidebar-admin>

<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
    <div class="form-group row">
      <label for="userType" class="col-2 col-form-label">UserType</label>
      <div class="col-10">
        <select #userType class="form-control" formControlName="userType" (change)="checkUserType(userType.value)"
                type="text" id="userType" required>
          <option *ngFor="let userType of userTypes" [value]="userType.user_type_id">
            {{userType.user_type_role}}
          </option>
        </select>
      </div>
    </div>

    <div formGroupName="courseModule">
      <div *ngIf="userTypeChange == 1   " class="form-group row">
        <label for="courseStudent" class="col-2 col-form-label">Course</label>
        <div class="col-10">
          <select class="form-control" formArrayName="course" (change)="sendCourseStudent($event)" type="text"
                  id="courseStudent" required>
            <option value="undefined" disabled>Please, select the module</option>
            <option *ngFor="let course of courses" [value]="course.course_id"> {{course.course_name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="userTypeChange== 2  " class="form-group row">
        <label for="courseLecturer" class="col-2 col-form-label">Course</label>
        <div class="col-10">
          <select multiple [(ngModel)]="selectedCourses" [ngModelOptions]="{standalone: true}" class="form-control"
                  formArrayName="course" (change)="sendCourseLecturer($event)" type="text" id="courseLecturer" required>
            <option disabled selected>Please, select the modules</option>
            <option *ngFor="let course of courses" [value]="course.course_id"> {{course.course_name}}</option>
          </select>
          <div>{{selectedCourses}}</div>
        </div>
      </div>

      <div *ngIf="userTypeChange == 1  || userTypeChange == 2" class="form-check form-group row">
        <div class="form-check" *ngFor="let module of modulesMatchingCourses">
          <label class="form-check-label" for="{{module.module_name}}">
            <input class="form-check-input" formArrayName="module" (change)="selectModule($event,module.module_id)"
                   [value]="module.module_name"
                   type="checkbox"
                   name="module"
                   id="{{module.module_name}}">
            {{module.module_name}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="organisation" class="col-2 col-form-label">Organisation</label>
      <div class="col-10">
        <select class="form-control" formControlName="organisation" type="text" id="organisation" required>
          <option [value]="" disabled selected>Please, select the organisation</option>
          <option *ngFor="let organisation of organisations" [value]="organisation.organisation_id">
            {{organisation.organisation_name}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="firstName" class="col-2 col-form-label">First Name</label>
      <div class="col-10">
        <input class="form-control" formControlName="firstName" type="text" id="firstName" ngModel required>
      </div>
      <!--<div class="has-danger" *ngIf=" userForm.controls.firstName.invalid && userForm.controls.firstName.dirty ">-->
        <!--Field is invalid-->
      <!--</div>-->
    </div>

    <div class="form-group row">
      <label for="lastName" class="col-2 col-form-label">Last Name</label>
      <div class="col-10">
        <input class="form-control" formControlName="lastName" type="text" id="lastName" ngModel required>
      </div>
    </div>

    <div class="form-group row">
      <label for="dateOfBirth" class="col-2 col-form-label">Date of Birth</label>
      <div class="col-10">
        <input class="form-control" formControlName="dateOfBirth" type="date" id="dateOfBirth" ngModel required>
      </div>
    </div>

    <div formGroupName="password">
      <div class="form-group row">
        <label for="passwordInput" class="col-2 col-form-label">Password</label>
        <div class="col-10">
          <input class="form-control" formControlName="passwordInput" type="password" id="passwordInput" ngModel required>
        </div>
      </div>

      <div class="form-group row">
        <label for="passwordConfirm" class="col-2 col-form-label">Password Confirmation</label>
        <div class="col-10">
          <input class="form-control" formControlName="passwordConfirm" type="password" id="passwordConfirm" ngModel required>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input class="form-control" formControlName="email" type="email" id="email" ngModel required>
      </div>
    </div>

    <div class="form-group row">
      <label for="phoneNumber" class="col-2 col-form-label">Phone number</label>
      <div class="col-10">
        <input class="form-control" formControlName="phoneNumber" type="tel" id="phoneNumber" ngModel required>
      </div>
    </div>

    <div class="form-group row">
      <label for="department" class="col-2 col-form-label">Department</label>
      <div class="col-10">
        <input class="form-control" formControlName="department" type="text" id="department" ngModel required>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">Submit</button>
  </form>

  <pre>Form value: {{ userForm.value | json }}</pre>

</div>

