<app-sidebar-admin></app-sidebar-admin>

<div class="container">
  <div class="container-fluid">

  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
    <div class="form-group row">
      <label for="userType" class="offset-1 col-2 col-form-label">UserType</label>
      <div class="col-6">
        <select #userType class="form-control" formControlName="userType" (change)="checkUserType(userType.value)"
                type="text" id="userType" required>
          <option *ngFor="let userType of userTypes" [value]="userType.user_type_id">
            {{userType.user_type_role}}
          </option>
        </select>
      </div>
    </div>

    <div formGroupName="courseModule" class="courseModule">
      <div *ngIf="userTypeChange == 1   " class="form-group row">
        <label for="courseStudent" class="offset-1 col-2 col-form-label">Course</label>
        <div class="col-6">
          <select class="form-control" formArrayName="course" (change)="sendCourseStudent($event)" type="text" id="courseStudent" required>
            <option value="undefined" disabled>Please, select the module</option>
            <option *ngFor="let course of courses" [value]="course.course_id"> {{course.course_name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="userTypeChange== 2  " class="form-group row">
        <label for="courseLecturer" class="offset-1 col-2 col-form-label">Course</label>
        <div class="col-6">
          <select multiple [(ngModel)]="selectedCourses" [ngModelOptions]="{standalone: true}" class="form-control"
                  formArrayName="course" (change)="sendCourseLecturer($event)" type="text" id="courseLecturer" required>
            <option disabled selected>Please, select the modules</option>
            <option *ngFor="let course of courses" [value]="course.course_id"> {{course.course_name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="userTypeChange == 1  || userTypeChange == 2" class="form-group row">
        <label class="offset-1 col-2 col-form-label">Modules</label>
        <div class="form-check">
        <div  *ngFor="let module of modulesMatchingCourses">
          <label class="form-check-label" for="{{module.module_name}}">
            <input class="check-box" formArrayName="module" (change)="selectModule($event,module.module_id)" [value]="module.module_name" type="checkbox" name="module" id="{{module.module_name}}">{{module.module_name}}
          </label>
        </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="organisation" class="offset-1 col-2 col-form-label">Organisation</label>
      <div class="col-6">
        <select class="form-control" formControlName="organisation" type="text" id="organisation" required>
          <option [value]="" disabled selected>Please, select the organisation</option>
          <option *ngFor="let organisation of organisations" [value]="organisation.organisation_id">
            {{organisation.organisation_name}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="firstName" class="offset-1 col-2 col-form-label">First Name</label>
      <div class="col-6">
        <input class="form-control" formControlName="firstName" type="text" id="firstName" ngModel required>
      </div>
    </div>

    <div class="form-group row">
      <label for="lastName" class="offset-1 col-2 col-form-label">Last Name</label>
      <div class="col-6">
        <input class="form-control" formControlName="lastName" type="text" id="lastName" ngModel required>
      </div>
    </div>

    <div class="form-group row">
      <label for="dateOfBirth" class="offset-1 col-2 col-form-label">Date of Birth</label>
      <div class="col-6">
        <input class="form-control" formControlName="dateOfBirth" type="date" id="dateOfBirth" ngModel required>
      </div>
    </div>

    <div formGroupName="password">
      <div class="form-group row">
        <label for="passwordInput" class="offset-1 col-2 col-form-label">Password</label>
        <div class="col-6">
          <input class="form-control" formControlName="passwordInput" type="password" id="passwordInput" ngModel required>
        </div>
      </div>

      <div class="form-group row">
        <label for="passwordConfirm" class="offset-1 col-2 col-form-label">Password Confirmation</label>
        <div class="col-6">
          <input class="form-control" formControlName="passwordConfirm" type="password" id="passwordConfirm" ngModel required>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="offset-1 col-2 col-form-label">Email</label>
      <div class="col-6">
        <input class="form-control" formControlName="email" type="email" id="email" ngModel required>
      </div>
    </div>

    <div class="form-group row">
      <label for="phoneNumber" class="offset-1 col-2 col-form-label">Phone number</label>
      <div class="col-6">
        <input class="form-control" formControlName="phoneNumber" type="tel" id="phoneNumber" ngModel required>
      </div>
    </div>

    <div class="form-group row">
      <label for="department" class="offset-1 col-2 col-form-label">Department</label>
      <div class="col-6">
        <input class="form-control" formControlName="department" type="text" id="department" ngModel required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-outline-success" [disabled]="userForm.invalid">Submit</button>
      </div>
    </div>
  </form>

    <div class="form-group row">
      <div class="col-md-12 text-center">
        <div class="inserted" *ngIf= "userInserted">The user has been added to the system</div>
      </div>
    </div>


  </div>

</div>
