<app-sidebar-admin></app-sidebar-admin>

<div class="container">

  <div class="container-fluid">

    <form [formGroup]="courseForm" (ngSubmit)="onSubmit(courseForm.value)" novalidate>

      <div class="form-group row">
        <label for="courseName" class="offset-1 col-2 col-form-label">Course Name</label>
        <div class="col-6">
          <input class="form-control" formControlName="courseName" type="text" id="courseName" ngModel required>
        </div>
      </div>

      <div class="form-group row">
        <label for="courseDescription" class="offset-1 col-2 col-form-label">Course Description</label>
        <div class="col-6">
          <input class="form-control" formControlName="courseDescription" type="text" id="courseDescription" ngModel required>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-outline-success" [disabled]="courseForm.invalid">Submit</button>
        </div>
      </div>
    </form>

    <div class="form-group row">
      <div class="col-md-12 text-center">
        <div class="inserted" *ngIf= "courseInserted">The course has been added to the system</div>
      </div>
    </div>

  </div>

</div>
