

<app-side-bar></app-side-bar>

<!-- <div><a routerLink ="/login">Go back to login</a></div> -->



<!--<div (click) ="showUsers()">-->

  <!--<button type="button" class="btn btn-primary">Show/hide users</button>-->

  <!--<div *ngIf="displayUsers == true">-->



    <table class="table table-responsive table-sm">
      <tr>
        <th>First name</th>
        <th>last name</th>
        <th>Password</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Department</th>
      </tr>

      <tr *ngFor = "let item of users">

        <td>{{item.user_first_name}}</td>
        <td>{{item.user_last_name}}</td>
        <td>{{item.user_password}}</td>
        <td>{{item.user_email}}</td>
        <td>{{item.user_phone_number}}</td>
        <td>{{item.user_department}}</td>
      </tr>
    </table>
  <!--</div>-->
<!--</div>-->
