

<app-side-bar></app-side-bar>
<!-- <div><a routerLink ="/login">Go back to login</a></div> -->



<div (click) ="showUsers()">

  <button type="button" class="btn btn-primary">Show/hide users</button>

  <div *ngIf="displayUsers == true">
    <table class="table">
      <tr>
        <th>First name</th>
        <th>last name</th>
        <th>Password</th>
      </tr>
      <tr *ngFor = "let item of allUsers">

        <td>{{item.about_me}}</td>
        <td>{{item.last_name}}</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
