

<nav class="navbar fixed-top "><span class="navbar-brand">Welcome to King Project</span></nav>

<div class="login-page">

  <div class="form">

    <form class="login-form" (submit)="loginUser($event)">

      <input type="text" placeholder="username"/>

      <input type="password" placeholder="password"/>

      <button>login</button>

      <p class="message"><a href="#">Forgot your password</a></p>

    </form>

  </div>

</div>

<nav class="navbar fixed-bottom  "><span class="navbar-brand"></span></nav>

